@model EmployeesManagement.Models.Employee

@{
    ViewData["Title"] = "Delete";
}
<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Are you sure you want to delete this?</h5>
                    </div>
                    <hr />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.EmpNo)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.EmpNo)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MiddleName)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.MiddleName)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.LastName)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.EmailAddress)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Country)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.DateOfBirth)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Address)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Department)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Department)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Designation)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Designation)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CreatedById)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreatedById)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreatedOn)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ModifiedById)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.ModifiedById)
                                    </td>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ModifiedOn)
                                    </th>
                                </tr>
                                <tr>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.ModifiedOn)
                                    </td>
                                </tr>

                            </table>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
