@model EmployeesManagement.Models.WorkFlowUserGroupMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkFlowUserGroupMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkFlowUserGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkFlowUserGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequenceNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
