@model EmployeesManagement.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Assign User Rights";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <form asp-action="UserGroupRights" method="post">
                <input type="hidden" name="Id" value="@Model.RoleId">
                <table class="table table-striped table-bordered table-hover  table-fixed-header">
                    <thead class="header" style="margin: 0px auto; width: 1280px;">
                        <tr>
                            <th>Module</th>
                            <th>SubModule</th>
                            <th>Actions</th>
                            <th>Assign Right</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Profiles != null)
                        {
                            @foreach (var module in Model.Profiles.Where(x => x.ProfileId is null))
                            {
                                <tr>
                                    <th>@module.Name</th>
                                    @if (module.Children.Any())
                                    {
                                        @foreach (var submodule in module.Children)
                                        {
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="hidden" name="RolesProfilesIds[]" value="@submodule.Id"> @submodule.Name
                                            </th>
                                        </tr>
                                            @foreach (var actions in submodule.Children)
                                            {
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <td>@actions.Name</td>
                                                <td>
                                                        @if(Model.RolesRightsIds.Contains(actions.Id))
                                                        {
                                                          <label class="">
                                                            <input type="checkbox" name="Ids[]" value="@actions.Id" checked="checked">
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                        <label class="">
                                                            <input type="checkbox" name="Ids[]" value="@actions.Id" >
                                                        </label>
                                                        }

                                                </td>
                                            </tr>
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="card-footer">
                            <div class="clearfix">
                                <a asp-action="Index" class="btn btn-danger push-left">Back to List</a>
                                <input type="submit" value="Assign Rights" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
