@model EmployeesManagement.Models.Audit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldValues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewValues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AffectedColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AffectedColumns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
