@model IEnumerable<EmployeesManagement.Models.Audit>

@{
    ViewData["Title"] = "System Audit Logs";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">System Audit Logs</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TableName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldValues)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NewValues)
                    </th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuditType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TableName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValues)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValues)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa fa-eye"> </i> View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

