@model IEnumerable<EmployeesManagement.Models.LeaveApplication>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New Leave Application</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Leave Applications List</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoOfDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType.Name)
                            </td>
                            <td>
                                <span class="badge rounded-pill bg-success">
                                    @Html.DisplayFor(modelItem => item.Status.Description)
                                </span>
                            </td>
                            <td>
                                <div class="ms-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Actions</button>
                                        <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item"><i class="bx bxs-edit"></i> Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item"><i class="bx bxs-bullseye"></i> View</a>
                                            <div class="dropdown-divider"></div>
                                            <a asp-action="ApproveLeave" asp-route-id="@item.Id" class="dropdown-item"><i class="bx bxs-check-circle"></i> Approve</a>
                                            <div class="dropdown-divider"></div>
                                            <a asp-action="RejectLeave" asp-route-id="@item.Id" class="dropdown-item"><i class="bx bxs-check-shield"></i> Reject</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>