@model EmployeesManagement.Models.ApprovalEntry

@{
    ViewData["Title"] = "Details";
}

<div class="row g-3">
   <h2>Approval Entry Details</h2>
    <div class="col-md-12">
        <table class="table table-striped table-bordered" style="width:100%">
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RecordId)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.RecordId)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DocumentType)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.DocumentType.Description)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SequenceNo)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.SequenceNo)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Approver)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.Approver.FullName)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.Status.Description)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateSentForApproval)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.DateSentForApproval)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LastModifiedOn)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.LastModifiedOn)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.LastModifiedBy.FullName)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.Comments)
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-warning float-start">Back to List</a>
</div>
