@model IEnumerable<EmployeesManagement.Models.SystemCodeDetail>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" asp-controller="SystemCodeDetails" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New System Detail</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">System Code Details List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SystemCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedById)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SystemCode.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="SystemCodeDetails" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-eye"></i> Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="SystemCodeDetails" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> View</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-controller="SystemCodeDetails" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
